VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_EMAIL=info@breezyeevans.co.uk
VITE_RECAPTCHA_SITE_KEY=6LfW3NstAAAAAB27CdNwy27joAxlNbfnKV-nuY5y
SUPABASE_SERVICE_ROLE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_HOSTNAMES=www.breezyeevans.co.uk,breezyeevans.co.uk
RECAPTCHA_MIN_SCORE=0.5
RESEND_API_KEY=
RATE_LIMIT_SECRET=
CRON_SECRET=
ADMIN_EMAIL=info@breezyeevans.co.uk
ADMIN_NOTIFICATION_EMAIL=info@breezyeevans.co.uk
ADMIN_APPROVAL_CODE=
ADMIN_REVIEW_SECRET=
SITE_URL=https://www.breezyeevans.co.uk
GOOGLE_SITE_VERIFICATION=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_ENVIRONMENT=test
STRIPE_SECRET_KEY=
STRIPE_ENVIRONMENT=test
STRIPE_WEBHOOK_SECRET=
